<meta property="og:title" content="{{ page.title | escape }}" />
<meta property="og:description" content="{{ page.description | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<meta property="og:site_name" content="{{ site.title | escape }}" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@iiyudana_taka" />
