<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
  <header>
    <div class="container">
      <div class="header-left">
        <a href="{{ '/' | relative_url }}">tablg</a>
      </div>
      <nav class="header-right">
        <ul>
          <li><a href="{{ '/about/' | relative_url }}">About</a></li>
          <li><a href="javascript:void(0)" id="memo-toggle">Memo</a>
            <ul id="memo-menu" style="display: none;">
              <li>2024</li>
              <li><a href="{{ '/memo/november/' | relative_url }}">November</a></li>
              <li><a href="{{ '/memo/october/' | relative_url }}">October</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <hr>
  <main class="container">
    {{ content }}
  </main>
  <footer class="container">
    <p>&copy; {{ site.time | date: "%Y" }} My Custom Blog</p>
  </footer>
  <script src="{{ '/js/memoMenu.js' | relative_url }}"></script>
</body>
</html>
